version: '3.8'

services:
  cherri-api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "5001:5000"
    env_file:
      - ../.chameleon.environment
    volumes:
      - ../:/workspace
    restart: unless-stopped

networks:
  default:
    driver: bridge